
@import "tailwindcss";

body{
  font-family: 'general',sans-serif;
  width: 100dvw;
  background-color: #dfdff0;
  overflow-x: hidden;

}


@layer base {
  @font-face {
    font-family: 'circular-web';
    src: url('/fonts/circularweb-book.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'general';
    src: url('/public/fonts/general.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'robert-medium';
    src: url('/public/fonts/robert-medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
  }

  @font-face {
    font-family: 'robert-regular'; 
    src: url('/public/fonts/robert-regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
  }
}
